a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.body {
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.center-text {
    text-align: center
}

.panels {
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #00FFFF;
    float: left;
    width: 29%;
    box-sizing: border-box;
}

.panels:hover {
    background-color: lightgrey;
}

.splash {
    padding-top: 30vh;
    top: 0; left: 0; height: 70vh; width: 100vh;
}

